# vscode
**/.vscode/*
!.vscode/settings.json

# temp files
**/~*

# python
**/__pycache__/
**/.pytest_cache/
**/*.py[cod]
*$py.class

# images
**/images/

# meshlab
*.mlp

# meshroom
*.mg
*.sfm
**/MeshroomCache/

# point cloud data
*.ply
**/*cameras.json

# virtual envs

# pip install black isort pylint
# pip install setuptools
airenv/

# pip install black isort pylint psutil wheel matplotlib pandas opencv-python scipy numpy
# pip install msgpack-rpc-python
src/scripts/simulation/venv/

# pip install black isort pylint psutil wheel matplotlib pandas opencv-python scipy numpy
# pip install open3d
src/scripts/reconstruction/venv3d/
