# vscode
**/.vscode/*
!.vscode/settings.json

# temp files
**/~*

# python
**/__pycache__/
**/.pytest_cache/
**/*.py[cod]
*$py.class
*.egg-info/

# images
**/images/

# meshlab
*.mlp

# meshroom
*.mg
*.sfm
**/MeshroomCache/

# point cloud data
*.ply
**/*cameras.json

# evaluation
data/**/*.log
data/**/*.json
data/**/*.pdf

# old files
**/v1/reconstruction/models/**/sfm*.json
**/v1/reconstruction/models/**/cloud_and_poses.json
**/v1/reconstruction/models/**/outputViewsAndPoses.json

# virtual envs
airenv/
